body {
  font-family: 'Open Sans', sans-serif;
  background-color: #2d3436;
  color: #ff4757;
  padding: 20px;
}

img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.item_locket {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.has_item {
  color: #f6e58d;
}

h1 {
  background-color: #202627;
  margin: auto;
  padding: 10px;
}
