@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
* {
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  margin-top: 10px;
}

img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.item-locked {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.item-unlocked {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  color: #fdcb6e;
}

@media only screen and (max-width: 576px) { /* FOR MOBILE */
  .collection table {
    width: 100%;
  }
}
